<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reactnativewlhypluginmodule">
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
  <application>
    <meta-data android:name="com.amap.api.v2.apikey" android:value="648e0e2d9488cf23fddb4c182ece23da" />
    <service
      android:name="com.amap.api.location.APSService"></service>
  </application>

</manifest>
